<p>Next ...</p>

<h1 id="quote_box">You should click that button, and this should change to the text from /random</h1>
<h3 id="author_box">- James Dabbs</h3>

<button id="that_button">And then?</button>
